:root {
  --base-font-size: 16px;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  opacity: 1;
  transition: transform 0.2s ease-in-out;
}

.todo-item.clicked {
  transform: translateY(0.25rem);
}

.todo-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.todo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid #d0d5dd;
  margin-right: 0.625rem;
  position: relative;
  background-color: #d0d5dd;
}

.todo-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.todo-checkbox input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #1d2939;
}

.todo-checkbox .custom-checkbox {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: transparent;
}

.move-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.todo-text {
  flex-grow: 1;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: text-decoration 0.2s ease-in-out;
  padding: 0.625rem;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #98a2b3;
}

.edit-input {
  flex-grow: 1;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #f2f4f7;
  border-radius: 0.25rem;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-actions button {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0;
  margin-left: 0.625rem;
}

.editing-indicator {
  background-color: #344054;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  border: 1px solid #344054;
  border-radius: 2.1875rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.tasks-title {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-left: -6.25rem;
  font-size: 0.875rem;
  padding: 0.625rem;
}

.task-item {
  padding: 0.625rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.task-item:hover {
  background: #f5f5f5;
}

.remove-icon,
.edit-icon,
.comment-icon,
.reminder-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
  cursor: pointer;
  filter: invert(38%) sepia(6%) saturate(318%) hue-rotate(181deg)
    brightness(90%) contrast(89%);
}

.remove-icon {
  filter: invert(38%) sepia(6%) saturate(318%) hue-rotate(181deg)
    brightness(90%) contrast(89%);
}

.edit-icon {
  filter: invert(38%) sepia(6%) saturate(318%) hue-rotate(181deg)
    brightness(90%) contrast(89%);
}

.comment-icon {
  filter: invert(38%) sepia(6%) saturate(318%) hue-rotate(181deg)
    brightness(90%) contrast(89%);
}

.reminder-icon {
  filter: invert(38%) sepia(6%) saturate(318%) hue-rotate(181deg)
    brightness(90%) contrast(89%);
}

.comment-icon.disabled {
  color: #dcdbdb;
  cursor: not-allowed;
  pointer-events: none;
}

.todo-item {
  transition: transform 0.2s ease-in-out;
}

.todo-item.clicked {
  transform: translateY(0.25rem);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1d2939;
  border-radius: 50rem;
}

.edit-description {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-description {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.show-description-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}
