:root {
  --base-font-size: 16px;
}

.todo-container {
  max-width: 31.25rem;
  margin: 0 auto;
  padding: 3.125rem;
}

.todo-header {
  text-align: center;
  position: relative;
  background-color: white;
  color: black;
}

.todo-title {
  font-size: 2.125rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 3.125rem;
  display: inline-block;
}

.controls-edit {
  display: flex;
  font-size: 0.875rem;
  cursor: pointer;
  position: absolute;
  left: 28.125rem;
  top: 80%;
  transform: translateY(-50%);
}

.controls-remove {
  display: flex;
  font-size: 0.875rem;
  cursor: pointer;
  position: absolute;
  left: 24.375rem;
  top: 80%;
  transform: translateY(-50%);
}

.controls-tasks {
  display: flex;
  font-size: 0.875rem;
  cursor: pointer;
  position: absolute;
  top: 80%;
  transform: translateY(-50%) translateX(-4%);
}
