.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.comment-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  transform: translateY(40%);
}

.comment-content textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #98a2b3;
  border-radius: 16px;
}

.comment-content button {
  padding: 10px 10px;
  transform: translateX(120%);
  border: none;
  width: 100px;
  height: 100px;
  background-color: #1d2939;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}
