:root {
  --base-font-size: 16px;
}

.header {
  background-color: transparent;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0.625rem;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15.625rem;
  height: 100%;
  background-color: #fcfaf8;
  box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.side-menu.expanded {
  transform: translateX(0);
}

.side-menu ul {
  list-style: none;
  padding: 0.625rem;
}

.side-menu li {
  margin: 1.25rem 0;
}

.side-menu a {
  color: #333;
  text-decoration: none;
  font-size: 0.8125rem;
}

.user-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  transform: translateY(7.5rem);
}

.projects {
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.projects ul {
  list-style: none;
  padding-left: 1.25rem;
  margin: 0;
}

.mini-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.625rem 0;
  background-color: #f1f1f1;
  border-top: 0.0625rem solid #e1e1e1;
}
