:root {
  --base-font-size: 16px;
}

.todo-input-container {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  padding: 0.625rem;
  background-color: white;
  border: 0.0625rem solid white;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
}

.todo-input {
  flex-grow: 1;
  padding: 0.625rem;
  font-size: 1rem;
  border: 0.0625rem solid white;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
}

.add-button {
  padding: 0.625rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #98a2b3;
  color: #f2f4f7;
  cursor: pointer;
}

.save-button {
  display: block;
  margin: 1.25rem auto;
  padding: 0.625rem 1.25rem;
  width: 6.25rem;
  height: 6.25rem;
  font-size: 1rem;
  background-color: #1d2939;
  color: #fff;
  border: none;
  border-radius: 8.75rem;
  cursor: pointer;
}

.edit-title {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-right: 0.3125rem;
  font-size: 0.875rem;
  padding: 0.625rem;
  transform: translateY(-0.25rem);
}

.remove {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-right: 0.3125rem;
  font-size: 0.875rem;
  padding: 0.0625rem;
}
