.todo-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.todo-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 4px;
  margin-right: 10px;
}

.add-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #98a2b3;
  color: #f2f4f7;
  cursor: pointer;
}

.save-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  width: 100px;
  height: 100px;
  font-size: 16px;
  background-color: #1d2939;
  color: #fff;
  border: none;
  border-radius: 140px;
  cursor: pointer;
}

.edit-title {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  padding: 10px;
}

.remove {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  padding: 1px;
}
