.todo-input-container .todo-input::placeholder {
  color: #98a2b3;
}

.todo-input {
  flex-grow: 1;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #f2f4f7;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
  color: #344054;
}

.todo-checkbox {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d0d5dd;
  margin-right: 10px;
}

.add-button {
  background-color: transparent;
  color: #98a2b3;
  font-size: 14px;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-button img {
  filter: invert(66%) sepia(4%) saturate(116%) hue-rotate(190deg)
    brightness(97%) contrast(92%);
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.editing-banner {
  background-color: #1d2939;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
