.todo-list-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #1d2939;
  font-weight: bold;
}

h3 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.add-new-task {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #667085;
  cursor: pointer;
  margin-top: 15px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #667085;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #101828;
  position: relative;
  margin-bottom: 15px;
}

.task-item:hover .comments {
  display: block;
}

.comments {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f7f8fa;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #667085;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
