.todo-list-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.tasks-header {
  background: none;
  border: none;
  color: #98a2b3;
  cursor: pointer;
  margin-right: 0.3125rem;
  font-size: 0.875rem;
  padding: 0.625rem;
  top: 30px;
  transform: translateY(6rem);
  transform: translateX(-4rem, 6.15rem);
}

.main-title {
  text-align: center;
  font-size: 30px;
  color: #1d2939;
  font-weight: bold;
}

.task-items h3 {
  font-weight: normal;
}

.task-item-list h3 {
  font-size: 18px;
  font-weight: normal;
  color: #333;
  margin: 5px 0;
}

.task-item-list p {
  font-size: 18px;
  color: #666;
}

h1 {
  text-align: center;
  font-size: 14px;
  color: #1d2939;
  font-weight: normal;
}

.add-new-task {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #667085;
  cursor: pointer;
  margin-top: 15px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #667085;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
